:root {
  --bg1: #000000;
  --bg2: #222034;
  --text-color: #cbdbfc;
  --highlight-color: #5b6ee1;
  --highlight-color-2: #332e5f;
  --non-playable-color: #465574;
  --error-color: #bb1414;
  --view-height: 100vh;
  --one-eighth-height: calc(var(--view-height) / 8);
  --one-sixteenth-height: calc(var(--view-height) / 16);
}

* {
  touch-action: manipulation;
}

body {
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--bg1);
  color: var(--text-color);
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  height: var(--view-height);
}

main {
  max-width: 512px;
  width: 100%;
  background-color: var(--bg2);
  display: flex;
  flex-direction: column;
  position: relative;
  transition: opacity 250ms;
  height: var(--view-height);
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  position: absolute;
  opacity: 1;
  transition: opacity 250ms, background-color 250ms;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--text-color);
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

small {
  font-size: 1.75rem;
}

h3 > small {
  font-size: 1.33rem;
}

button {
  background-color: inherit;
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 1rem;
  border: var(--text-color) 2px solid;
  border-radius: 0.75rem;
  cursor: pointer;
  margin: 0.25rem;
}

button:hover {
  background-color: var(--text-color);
  color: var(--bg2);
  font-size: 1.5rem;
  padding: 1rem;
  border: var(--bg2) 2px solid;
}

input {
  background-color: var(--bg2);
  border-bottom: var(--text-color) 2px solid;
  height: 2rem;
  color: var(--text-color);
  width: 66%;
  max-width: 90%;
  font-size: 1.5rem;
  font-weight: bold;
}

.scroll-box {
  flex-grow: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-box::-webkit-scrollbar {
  display: none;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  background-color: var(--bg1);
}

.tap-button {
  height: var(--one-eighth-height);
  flex-basis: 25%;
  border: var(--bg1) 2px solid;
  background-color: var(--bg2);
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  transition: font-size 50ms, background-color 50ms border-radius 50ms;
}

.pressed {
  font-size: 2.5rem;
  border-radius: 37.5%;
  background-color: var(--highlight-color);
}

.item-row {
  display: flex;
  flex-direction: row;
}

.item {
  height: var(--one-eighth-height);
  flex-basis: 25%;
  border: var(--bg1) 2px solid;
}

.clear-scroll {
  height: var(--view-height);
  width: 100%;
  border: var(--bg2) 2px solid;
}

.highlight {
  background-color: var(--highlight-color);
}

.hit {
  background-color: var(--bg2);
}

.missed {
  background-color: var(--error-color);
}

#popup {
  visibility: hidden;
  background-color: var(--bg2);
}

#popup-buttons {
  display: flex;
  flex-direction: column;
}

#menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

#menu::-webkit-scrollbar {
  display: none;
}

.menu-item {
  margin: 0.5rem;
  padding: 0.5rem;
  border: var(--text-color) 2px solid;
  border-radius: 0.75rem;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item:hover {
  background-color: var(--highlight-color-2);
}

.menu-item-focused {
  background-color: var(--highlight-color-2);
}

.back-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0.5rem;
  border: var(--text-color) 2px solid;
  border-radius: 0.75rem;
}

.back-button:hover {
  background-color: var(--highlight-color-2);
}

.menu-item-left {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item-right {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item > * > * {
  margin: 0.5rem;
}

.non-playable {
  cursor: initial;
  border: var(--non-playable-color) 2px solid;
  color: var(--non-playable-color);
}

.non-playable:hover {
  background-color: var(--bg2);
}

.error-text {
  color: var(--error-color);
}

#timer {
  position: absolute;
  top: 0rem;
  left: 1rem;
}

@media only screen and (max-width: 512px) {
  #timer {
    top: 5rem;
  }
}

#dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#version-number {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

#challenge-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

#create-challenge {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

#create-challenge-back {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

@media only screen and (max-width: 512px) {
  #create-challenge-back {
    top: 5rem;
  }

  .back-button {
    margin-top: 5rem;
  }
}

.soft-red {
  color: #ff6161;
}
